body {
    background-color: rgb(240, 240, 240);
    text-align: center;

}

h1 {
    color: chocolate;
}

.board {
    width: 120px;
    height: auto;
    background-color: rgb(6, 250, 128);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding-inline: 5px;
    border: 5px solid green;

}

.cell {
    width: 50px;
    background-color: rgb(230, 76, 5);
}